@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

* {
  @apply font-form text-base
}

html,
body {
  @apply h-full
}

body {
  @apply bg-form-blue-alice
}

h1 {
  @apply font-bold text-2xl lg:text-[2rem] text-form-denim
}

h2 {
  @apply font-medium text-base
}

.body {
  &_large {
    @apply text-base text-form-gray-normal
  }

  &_medium {
    @apply text-sm font-medium
  }

  &_small {
    @apply text-xs
  }
}

@layer components {
  .checkbox-label {
    @apply flex items-center cursor-pointer gap-3 rounded-md border border-form-gray-light p-4 hover:bg-gray-50 ring-1 ring-form-gray-light
  }

  .checkbox-label:has(input:checked) {
    @apply bg-form-gray-lightest ring-2 ring-form-purple
  }
}